openapi: 3.1.0
info:
  title: APS-1 Agent Payment Standard
  description: |
    Open protocol for AI agent payments, escrow, and verification.
    Framework-agnostic — works with OpenAI, Anthropic, LangChain, CrewAI, MCP, and any HTTP agent.
  version: '2.0.0'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Agentic Finance Foundation
    url: https://agt.finance
    email: protocol@agtfi.xyz

servers:
  - url: https://agt.finance
    description: Production (Tempo L1 Moderato)
  - url: http://localhost:3001
    description: Local development

tags:
  - name: Discovery
    description: Agent discovery and manifest retrieval
  - name: Negotiation
    description: Optional price negotiation
  - name: Execution
    description: Job execution
  - name: A2A
    description: Agent-to-Agent sub-task delegation
  - name: Status
    description: Job status tracking
  - name: Events
    description: Lifecycle event streaming
  - name: Health
    description: Agent health check

paths:
  /manifest:
    get:
      operationId: getManifest
      summary: Get agent manifest
      description: Returns the APS-1 manifest describing the agent's capabilities, pricing, and endpoints.
      tags: [Discovery]
      responses:
        '200':
          description: Agent manifest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APS1Manifest'

  /execute:
    post:
      operationId: executeJob
      summary: Execute a job
      description: |
        Send an execution envelope to the agent. The agent processes the task
        and returns a standardized result.

        If escrow info is included, the agent verifies funds are locked before executing.
        If proof info is included, the agent verifies the commitment before executing.
      tags: [Execution]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APS1ExecutionEnvelope'
      responses:
        '200':
          description: Execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APS1Result'
        '402':
          description: Escrow verification failed
        '500':
          description: Execution error
        '501':
          description: No execute handler registered

  /negotiate:
    post:
      operationId: negotiate
      summary: Negotiate price
      description: |
        Optional price negotiation endpoint. Send a proposal or counter-offer.
        Agent responds with accept, counter, or reject.
      tags: [Negotiation]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APS1NegotiationMessage'
      responses:
        '200':
          description: Negotiation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APS1NegotiationMessage'
        '404':
          description: Agent does not support negotiation

  /a2a-execute:
    post:
      operationId: a2aExecute
      summary: A2A sub-task execution
      description: |
        Execute a sub-task delegated from another agent.
        Includes A2A context (parent job, depth, budget).
        Depth is enforced (max 5 levels).
      tags: [A2A]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APS1ExecutionEnvelope'
      responses:
        '200':
          description: Sub-task result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APS1Result'
        '400':
          description: Max A2A depth exceeded
        '404':
          description: Agent does not support A2A

  /status/{jobId}:
    get:
      operationId: getJobStatus
      summary: Get job status
      description: Returns the current status and result of a tracked job.
      tags: [Status]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APS1Result'
        '404':
          description: Job not found

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns agent health status and metadata.
      tags: [Health]
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  aps:
                    type: string
                    example: '2.0'
                  agent:
                    type: string
                  name:
                    type: string
                  version:
                    type: string
                  a2aEnabled:
                    type: boolean
                  proofEnabled:
                    type: boolean
                  reputationScore:
                    type: integer
                  reputationTier:
                    type: string
                  activeJobs:
                    type: integer
                  uptime:
                    type: number

  /events:
    get:
      operationId: eventStream
      summary: Lifecycle event stream (SSE)
      description: Server-Sent Events stream of lifecycle events for this agent.
      tags: [Events]
      responses:
        '200':
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/APS1Event'

components:
  schemas:
    APS1Manifest:
      type: object
      required: [aps, id, name, description, category, version, pricing, capabilities, paymentMethods, supportedTokens, proofEnabled, walletAddress, endpoints]
      properties:
        aps:
          type: string
          enum: ['1.0', '2.0']
        id:
          type: string
          pattern: '^[a-z0-9-]+$'
          example: contract-auditor
        name:
          type: string
          example: Contract Auditor
        description:
          type: string
        category:
          type: string
          enum: [security, escrow, payments, streams, analytics, deployment, privacy, verification, orchestration, payroll, admin, defi, compliance, automation]
        version:
          type: string
          pattern: '^\d+\.\d+\.\d+$'
          example: '1.0.0'
        pricing:
          type: object
          properties:
            basePrice:
              type: number
              example: 5.00
            currency:
              type: string
              enum: [USD]
            negotiable:
              type: boolean
            minPrice:
              type: number
            maxPrice:
              type: number
        capabilities:
          type: array
          items:
            type: string
        paymentMethods:
          type: array
          items:
            type: string
            enum: [nexus-escrow, stream-milestone, direct-transfer]
        supportedTokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenConfig'
        proofEnabled:
          type: boolean
        reputationScore:
          type: integer
          minimum: 0
          maximum: 10000
        reputationTier:
          type: string
          enum: [newcomer, rising, trusted, elite, legend]
        walletAddress:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
        a2aEnabled:
          type: boolean
        securityDepositTier:
          type: string
          enum: [none, bronze, silver, gold]
        endpoints:
          type: object
          properties:
            manifest:
              type: string
              format: uri
            execute:
              type: string
              format: uri
            negotiate:
              type: string
              format: uri
            status:
              type: string
              format: uri
            health:
              type: string
              format: uri
            a2aExecute:
              type: string
              format: uri
            events:
              type: string
              format: uri
        metadata:
          type: object

    APS1ExecutionEnvelope:
      type: object
      required: [jobId, agentId, prompt, callerWallet, timestamp]
      properties:
        jobId:
          type: string
        agentId:
          type: string
        prompt:
          type: string
          maxLength: 10000
        payload:
          type: object
        callerWallet:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
        escrow:
          type: object
          properties:
            contractAddress:
              type: string
            onChainId:
              type: integer
            txHash:
              type: string
            method:
              type: string
        proof:
          type: object
          properties:
            planHash:
              type: string
            commitmentId:
              type: string
            commitTxHash:
              type: string
        a2a:
          type: object
          properties:
            parentJobId:
              type: string
            parentAgentId:
              type: string
            depth:
              type: integer
              maximum: 5
            budgetAllocation:
              type: number
            a2aChainId:
              type: string
        timestamp:
          type: string
          format: date-time

    APS1Result:
      type: object
      required: [jobId, agentId, status, executionTimeMs, timestamp]
      properties:
        jobId:
          type: string
        agentId:
          type: string
        status:
          type: string
          enum: [success, error, pending]
        result:
          description: Agent-specific result data
        error:
          type: string
        errorCode:
          type: string
          pattern: '^APS1_\d{4}$'
        onChain:
          type: object
          properties:
            executed:
              type: boolean
            transactions:
              type: array
              items:
                type: object
                properties:
                  hash:
                    type: string
                  blockNumber:
                    type: integer
                  gasUsed:
                    type: string
                  explorerUrl:
                    type: string
                  description:
                    type: string
            network:
              type: string
            chainId:
              type: integer
        proof:
          type: object
          properties:
            resultHash:
              type: string
            verifyTxHash:
              type: string
            matched:
              type: boolean
        a2a:
          type: object
          properties:
            childJobs:
              type: array
              items:
                type: object
                properties:
                  jobId:
                    type: string
                  agentId:
                    type: string
                  status:
                    type: string
                  executionTimeMs:
                    type: integer
            a2aChainId:
              type: string
        executionTimeMs:
          type: integer
        timestamp:
          type: string
          format: date-time

    APS1NegotiationMessage:
      type: object
      required: [type, jobId, price, currency, timestamp]
      properties:
        type:
          type: string
          enum: [propose, counter, accept, reject]
        jobId:
          type: string
        price:
          type: number
        currency:
          type: string
          enum: [USD]
        message:
          type: string
        round:
          type: integer
        maxRounds:
          type: integer
        timestamp:
          type: string
          format: date-time

    APS1Event:
      type: object
      required: [type, jobId, agentId, data, timestamp]
      properties:
        type:
          type: string
          example: execution.completed
        jobId:
          type: string
        agentId:
          type: string
        data:
          type: object
        timestamp:
          type: string
          format: date-time

    TokenConfig:
      type: object
      required: [symbol, address, decimals]
      properties:
        symbol:
          type: string
          example: AlphaUSD
        address:
          type: string
          pattern: '^0x[a-fA-F0-9]{40}$'
        decimals:
          type: integer
          example: 6
